<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>Node.js-Training</title>
    
    <link rel="stylesheet" type="text/css" href="../css/index.css">

</head>
<body class="{{bodyClass}}">
    {{> header}}
    {{{body}}}
    {{> footer}}

	
    <!-- Lib Files -->
    <script type="text/javascript" src="../js/lib/jquery-3.2.0.min.js"></script>

    <!-- Custom Files -->
	<script type="text/javascript" src="../js/index.js"></script>
</body>
</html>