<h1 class="home-title">Hello, Players!</h1>

<form class="create-player-form">
	<div>
		<label>
			Name: 
			<input class="player-name" type="text" name="name">
		</label>
	</div>
	<div>
		<label>
			Email: 
			<input class="player-email" type="email" name="email">
		</label>
	</div>
	<div>
		<label>
			Password: 
			<input class="player-password" type="password" name="password">
		</label>
	</div>

	<button id="add-player" type="submit">Create a new player!</button>
</form>